body,
html {
  font-family: "Share Tech Mono", monospace;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
}

#title {
  position: relative;
  left: 1em;
  width: 20em;
  font-size: 3em;
}

#inventory {
  top: 3.5em;
  position: absolute;
  left: 2em;
  width: 89.1em;
  height: 40em;
  border: 2.4px solid black;
}

#stats {
  position: absolute;
  border: 2.4px solid green;
  left: 92.2em;
  width: 25.5em;
  top: 3.5em;
  height: 40em;
}

#tabSettings button {
  height: 2em;
  width: 8em;
  cursor: pointer;
}

.settingSpacer {
  display: table;
  height: 0.2em;
}

/* First line xD */

.button h3 {
  text-align: center;
  margin: 0px;
}

.buttonCanBuy h3 {
  text-align: center;
  margin: 0px;
}

/* Second */

.button p:nth-child(2) {
  text-align: center;
  margin: 0px;
  font-size: 13px;
}

.buttonCanBuy p:nth-child(2) {
  text-align: center;
  margin: 0px;
  font-size: 13px;
}

/* Third */

.button p:nth-child(3) {
  text-align: center;
  margin: 0px;
  font-size: 13px;
}

.buttonCanBuy p:nth-child(3) {
  text-align: center;
  margin: 0px;
  font-size: 13px;
}

/* Last */

.button p:last-child {
  text-align: center;
  margin: 0px;
}

.buttonCanBuy p:last-child {
  text-align: center;
  margin: 0px;
}

/* buttons that aren't lit */

.button,
.buttonCanBuy {
  border: 1px solid black;
  width: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
}

/* lit buttons */

.buttonCanBuy {
  background-color: #ff644c;
  cursor: pointer;
}

.buttonCanBuy:hover {
  background-color: #ff8875;
}

/* unlit */

.button {
  background-color: lightgray;
}
