<!DOCTYPE html>
<html>

<meta charset="utf-8" />
<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
<link rel="stylesheet" href="core.css">
<link rel="stylesheet" href="jqueryui.css">


<body>
  <div class="every">

    <!--- TITLE -->
    <div id="title"> The game with no name </div>
    <!--- INVENTORY -->
    <div id="inventory">
      <div id="loadInventory"></div>
      <script type="text/template" id="inventoryTemplate">
        <table id="inventoryT">
          <tr id="row1">
            <td id="FirstBulding" class="button" onmousedown="buyBuildings(0)">
              <h3>First Building</h3>
              <p><%= firstBuildingGain %>/tick</p>
              <p>Cost:<%= firstBuildingCost %></p>
              <p>Owned: <%= firstBuildingOwned %></p>
            </td>
          </tr>
        </table>
      </script>
    </div>
    <!--- STATS -->

    <div id="stats">
      <div id="tabs">
        <ul>
          <li><a href="#tabStats" onmousedown="updateStats()">Stats</a></li>
          <li><a href="#tabPrestige" >Prestige</a></li>
          <li><a href="#tabSettings">Settings</a></li>
        </ul>
        <div id = "tabStats">
          <script type="text/template" id="statsTemplate">
            <p>Money: <%= money %> </p>
            <p>Update: <%= tick %>/sec </p>
          </script>
        </div>
        <div id = "tabPrestige">
          <!--<script type="text/template" id="prestigeTemplate">-->
            <p> Work in PROGRESS. <br>  Probably never going to get done </p>
          <!-- </script> -->
        </div>
        <div id = "tabSettings">
          <div class = "widget">
            <button id = "saveButton"> Save </button> <span id="lastSaved"></span>
            <span class="settingSpacer"></span>
            <button onclick="loadGame()">Load</button>
            <span class="settingSpacer"></span>
            <button onclick="resetGame()">Reset</button>
            <span class="settingSpacer"></span>
            <button onclick="exportSave()">Export</button> <input id="exportText" type="text" readonly style="display:none">
            <span class="settingSpacer"></span>
            <button onclick="importSave()">Import</button>
          </div>
        </div>


      </div>


    </div>
    <!-- END -->
  </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="decimal.js"></script>
<script src="js/h/swarm.js"></script>

<script src="js/data.js"></script>
<script src="js/core.js"></script>
<script src="js/save.js"></script>

</html>
